<a href="https://colab.research.google.com/github/SujayVivek/TradingStrategies/blob/main/MomentumTradingonNifty50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import yfinance as yf
import numpy as np
import pandas as pd

In [2]:
stocks = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[2].Symbol

In [3]:
stocks.head(5)

0      ADANIENT
1    ADANIPORTS
2    APOLLOHOSP
3    ASIANPAINT
4      AXISBANK
Name: Symbol, dtype: object

In [4]:
stocks = stocks+ '.NS' #Do this for indian stocks as NSE is our exchange

In [5]:
stocks = stocks.to_list()

In [6]:
df= yf.download(stocks,start='2012-01-01')['Close']

[*********************100%%**********************]  50 of 50 completed

In [7]:
ret_df = df.pct_change() #Daily returns by pct change function

In [9]:
mtl_ret = (ret_df +1).resample('M').prod() #Montly avg returns

In [11]:
mlt_12 = mtl_ret.rolling(12).apply(np.prod).dropna() #12 month return

In [13]:
#lets see the top 5 performers of the nifty50

top_ = mlt_12.loc['2012-12-31'].nlargest(5)

In [14]:
top_

Ticker
BAJFINANCE.NS    2.241051
BAJAJFINSV.NS    2.189450
EICHERMOT.NS     1.943824
INDUSINDBK.NS    1.841687
SHRIRAMFIN.NS    1.803333
Name: 2012-12-31 00:00:00, dtype: float64

In [15]:
mtl_ret[top_.name:][1:2]

Ticker,ADANIENT.NS,ADANIPORTS.NS,APOLLOHOSP.NS,ASIANPAINT.NS,AXISBANK.NS,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BPCL.NS,...,SHRIRAMFIN.NS,SUNPHARMA.NS,TATACONSUM.NS,TATAMOTORS.NS,TATASTEEL.NS,TCS.NS,TECHM.NS,TITAN.NS,ULTRACEMCO.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,0.921504,1.115185,1.026862,1.015476,1.109543,0.9512,0.942947,0.983201,1.070956,1.151817,...,1.042778,0.975212,0.933729,0.953143,0.944924,1.070311,1.071547,0.982416,0.957836,1.043219

In [16]:
relevant_ret = mtl_ret[top_.name:][1:2][top_.index]

In [18]:
relevant_ret

Ticker,BAJFINANCE.NS,BAJAJFINSV.NS,EICHERMOT.NS,INDUSINDBK.NS,SHRIRAMFIN.NS
Date,,,,,
2013-01-31,0.983201,0.942947,0.970326,1.044959,1.042778

In [19]:
relevant_ret.mean(axis = 1)

Date
2013-01-31    0.996842
Freq: M, dtype: float64

In [20]:
def top_performers(date):
  all= mtl_12.loc[date]
  top = all_.nlargest(5)
  relevant_ret - mtl_ret[top.name][1:2][top.index]
  return (relevant_ret).mean(axis = 1).values[0]

In [21]:
mom_ret = []
for date in mtl_12.index[:-1]:
  mom_ret.append(top_performers(date))

NameError: name 'mtl_12' is not defined